.mysql*
.pagoda*
.heroku*
.npm*
.gksu*
.telepathy.json
.zcomp*
.*.[0-9]
.zblog
.*authority
.ttytter*
.twidge*
.Private
.ecryptfs
.Skype
.*-errors*
.cache
.composer
.pulse*
.ssh/*.pub
.viminfo
.isuprc
.oh-my-zsh
.gtk*
.lesshst
.*.cookies
.zsh-update
.vimrc-*
.goutput*
.vim/tmp
.electrum*
.gconf
.mplayer
.mozilla
.local
.lib
.links2
.bin
.antigen
.aptitude
.sane
.dotty
.ssh/known*
.ssh/config
.dbus
.gstreamer*
.mission-control
.t
.vimperator
.compiz
.ego
.gem
.pip
.pki
.signon
.speech-dispatcher
.endgame
.thumbnails
.thunderbird
